.navbar{
    width: auto;
    height: 5vh;
    margin: 0.7rem;
}

.div_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 3rem;
}
.div_1 h1{
    padding: .3rem;
    margin: 3rem;
}

.div_2{
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.carousel{
    padding: .4rem;
    width: 50%;
    align-items: center;
    text-align: center;
}
.more_info{
    padding: .4rem;
    width: 50%;
    align-items: center;
    text-align: center;
}
.start_btn{
    padding: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 9rem;
}
